/* body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.container {
  margin-top: 100px;
}

input {
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

a {
  color: #00ffcc;
}

video {
  border-radius: 10px;
  margin-top: 10px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.seo-text {
    margin-top: 40px;
    padding: 20px;
    background: #111;
    color: #ddd;
    border-radius: 10px;
    line-height: 1.6;
}

.seo-text h2, .seo-text h3 {
    color: #fff;
    margin-bottom: 10px;
}

.seo-text ul {
    padding-left: 20px;
}

.seo-text li {
    margin-bottom: 5px;
}

.card {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    animation: fadeIn 0.6s ease;
}

h1 {
    color: #fff;
    font-size: 32px;
}

.tagline {
    color: #ddd;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1;
    margin: 5px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    /* gap: 10px; */
}

.logo img {
    width: 400px;
    height: 90px;
}

.video-btn {
    background: #e56785;
    color: white;
}

.audio-btn {
    background: #4d8bc9;
    color: white;
}

button:hover {
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    color: white;
}

video, audio {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.result-card {
    background: rgba(255,255,255,0.15);
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}
